#sidebar{
    position: relative;
    max-width: 400px;
    width: 400px;
    background: #F4F4F4;
    overflow-y: visible;
    padding-top: 72px;

    .term{
        position: sticky;
        background: rgba(0,0,0,0.1);
        font-weight: bold;
        color: #3e3e3e;
        border-radius: 5px;
        border: 3px dashed rgba(0,0,0,0.1);
        text-align: center;
    }


    ul{
        padding: 0;
        
        .item{
            position: relative;
            display: block;
            border: none;
            background: rgb(227, 227, 227);
            border-radius: 5px;
            margin: 10px;
            box-sizing: border-box;
            overflow: hidden;
            cursor: pointer;

            &:hover img{
                transform: scale(1.025);
            }

            &:hover .name{
                padding-top: 30px;
                padding-bottom: 30px;
            }

            img{
                transition: transform 0.5s;
                position: relative;
                width: 100%;
                border-radius: 5px;
            }

            .name{
                font-weight: bold;
                position: absolute;
                background-image:  linear-gradient(transparent, rgba(0,0,0,0.9));
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 15px;
                margin: 0;
                color: white;
                text-shadow: 2px 2px rgba(0,0,0,0.25);
                word-break: break-word;
                transition: padding 0.5s;
            }
            
            .description{
                color: rgb(90, 90, 90);
            }

            .author{
                color: rgb(90, 90, 90);
            }
        }
    }
}

